h1, h2, .slogan {
	font-family: $heading;
}

.hero {
	display: block;
	@extend h1;
	font-family: $bold_heading;
	color: #fff;
	font-size: 60px;
	position: relative;
}

.slogan {
	display: block;
	font-family: $heading;
	color: #fff;
	font-size: 36px;
}

.name {
	display: block;
	padding: 8px 0;
	color: $sand;
	font-style: italic;
	font-size: 24px;
}

h2 {
	@extend h1;
	color: #fff;
	font-size: 72px;
	padding: 0 0 30px 0;
}

section p {
	color: $sand;
	line-height: 40px;

}

.green {
	color: #b4ba98;
	padding-bottom: 30px;
}


.hero::before {
	content: "";
	width: 250px;
	height: 3px;
	background-color: $sand;
	position: absolute;
	top: 50%;
	left: 0;
}

.hero::after {
	content: "";
	width: 250px;
	height: 3px;
	background-color: $sand;
	position: absolute;
	top: 50%;
	right: 0;
}

button {
	margin:  20px 0;
	padding: 20px 60px;
	text-transform: uppercase;
	background-color: transparent;
	border: 2px solid #404429;
	color: #fff;
	font-family: serif;
	font-size: 16px;
	transition: background-color 0.3s ease-out 0s;

		&:hover {

			background-color: $sand;
			cursor: pointer;
		}
}
